/*
login
 */
.login-page {
  padding-bottom: 50px;
  min-height: 420px;
  margin-top: 20%;
}

.login-form {
  background-color: white !important;
}

.login-header {
  background-color: white !important;
}

.login-header h5 {
  font-weight: 700;
}

.recovery-password {
  margin-top: 200px;
}
