@import "~bootstrap/scss/bootstrap";
@import "app/app";
@import "app/footer";
@import "app/login";
@import "app/menu";
@import "app/widget";
@import "app/notification";
@import "app/page";
@import "app/content";
@import "app/messages";
@import "app/breadcrumb";
@import "swagger-ui.css";

.swagger-ui .scheme-container {
  margin: 0 0 20px;
background-color: #fafafa;
  box-shadow: none;
}

.servers{
  margin-top: 10px;
  color: #3b4151;
}

.btn-primary.app-name{
  background-color: transparent !important;
  border-color: transparent !important;

}
