@import "~bootstrap/scss/bootstrap";
@import "app/app";
@import "app/alert";
@import "app/footer";
@import "app/login";
@import "app/menu";
@import "app/widget";
@import "app/notification";
@import "app/page";
@import "app/content";
@import "app/messages";
@import "app/breadcrumb";


.swagger-ui .scheme-container {
  margin: 0 0 20px;
background-color: #fafafa;
  box-shadow: none;
}

.servers{
  margin-top: 10px;
  color: #3b4151;
}

.btn-primary.app-name{
  background-color: transparent !important;
  border-color: transparent !important;

}

textarea {
  width: 100%;
  height: 550px;
}

.mock-list .mr-auto, .mr-1 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.user-search-list {
  position: absolute;
  width: 70%;
  /*padding-right: 20px;*/
}

.user-search-list .user-item {
  cursor: pointer;
}
